
<html>
    <head>
        <title>Deborah's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
<h1>Blog time!</h1>
<h2>this is a subtitle</h2>
<html>
    <head>
        <title>Deborah is learning Django</title>
    </head>
    <body>
<div>
    <h1><a href="/">Deborah's Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}
    </body>
</html>


